// *{
// 	    border-box:box-sizing;
	    
// 	    	        }
body{
	    width: 1000;
    height: 900px;
    margin: 0 0 0 6px;
    
    background: blanchedalmond;
     &:hover{background:lightgray}
}

img{
	    width: 86px;
	    border:solid;

    }

    img.cartbox{
    	width:1000px;
    	    width: 1000px;
    position: absolute;
    bottom: 110px;
    border:none;
     &:hover{background:lightgray}
    }
    .player{
    	font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    width: 439px;
    text-align: center;

    }

    h3{
        margin: auto;
    position: absolute;
    bottom: 262px;
    left: 246px;
    width: 254px;
    top:220px;
    height:113px;
    }
// }
// .artistbox{
// 	    width: 112px;
//     height: 120px;
//     margin: 0px;
//     border: none;
//     display: inline-block;
//     padding: 3px;
    
// }
input{
    padding-left: 0px;
    width: 250px;
    margin-bottom: 5px;
    border: solid #0071cc 1px;
    margin-top: 2px;
    &:hover{background:whitesmoke}
    font-family: 'Source Sans Pro', sans-serif;



}

// p{
	
// 	    margin: 9px 11px 0px 0px;
//     font-size: 13px;
//     display: flex;
//     text-align: center;
//     color: white;
// }
.container{
margin: 0px 0px 0px 0px;
    width: 383px;
    height: 445px;
    border: solid red 1px;
    background: rgb(0, 113, 204);
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 9px;
    padding-bottom: 9px;
    overflow: hidden;
    &:hover{background:cornflowerblue;}
}
.hugeBox{
	    width: 73px;
    height: 70px;
    margin: 1px;
    display: inline-table;
    text-decoration: underline;
    font-size: 8px;
}
#audioPlayer{
	width: 441px;
}
// #searchInput{
// 	    height: 40px;
//     width: 439px;
//     margin-left: 183px;
//     border-radius: 24px;
//     background: white;
// }
.searchbutton:hover{
	display:block;
	background:#f44336;
}
.searchbutton{
    padding-left: 0px;
    width: 440px;
    height: 43px;
    border: solid #0071cc 2px;
    background: red;
      font-family: 'Source Sans Pro', sans-serif;
    color: whitesmoke;
    border-radius: 25px
    
}
.footer{
    border: solid #000000 1px;
    height: 24px;
    padding-top: 8px;
    width: 438px;
    text-align: center;
    background: red;
    color: white;
    font-size: 15px;
        border-bottom-right-radius: 14px;
           font-family: 'Source Sans Pro', sans-serif;}
// .tunein{
// 	font-size: 115px;
//     display: -webkit-box;
//     margin: 0;
//     margin-left: 270px;
//     border: solid;
//     width: 246px;
//     color: whitesmoke;
//     background: lightslategrey;
//     height: 108px;
//     border-radius: 20px;
// }
// .in{
// 	    font-size: 63px;
//     color: lightslategrey;
//     margin-top: 49px;
//     margin-left: 5px;
 
// }
// .headox{
// 	width: 650;
//     height: 900px;
//     margin-left: 134px;
// }
// .pp{
// 	color: whitesmoke;
//     font-size: 14px;
// }